# Ignore everything
*

# Except these repository files...
!README.md
!.gitignore
!LICENSE

# Except these projects...
!soundRecorder/
!cordova-exhibition/

# Except these directories (affects all projects)...
!node_modules/
!plugins/
!www/
!config.xml
!package-lock.json
!package.json